{% extends 'core/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                Login Form
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'core:login' %}">
                         {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text"
                                   class="form-control"
                                   name="{{ login_form.username.name }}"
                                   placeholder="{{ login_form.username.label }}"
                                   id="{{ login_form.username.id_for_label }}"
                                   {% if login_form.username.value != None %}value="{{ login_form.username.value|stringformat:'s' }}"{% endif %}
                                   maxlength="{{ login_form.username.field.max_length }}"
                                   {% if login_form.username.field.required %}required{% endif %}>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="password"
                                   class="form-control"
                                   name="{{ login_form.password.name }}"
                                   placeholder="{{ login_form.password.label }}"
                                   id="{{ login_form.password.id_for_label }}"
                                   {% if login_form.password.value != None %}value="{{ login_form.password.value|stringformat:'s' }}"{% endif %}
                                   maxlength="{{ login_form.password.field.max_length }}"
                                   {% if login_form.password.field.required %}required{% endif %}>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
                                </div>
                            </div>
                        </div>
                        {% if login_form.errors %}
                        <div class="alert alert-danger" role="alert">
                            Wrong username or password
                        </div>
                        {% endif %}
                        <div class="form-group form-actions">
                            <button type="submit" class="btn btn-sm btn-secondary">Login</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <a href="{% url 'register:new-user' %}">Click here if you are not registered</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}