{% extends 'core/base.html' %}
{% load staticfiles %}

{% block breadcrumb %}
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">Company</li>
        <li class="breadcrumb-item active">New Company</li>
{% endblock breadcrumb%}





{% block content %}
<div class="container-fluid">
  <div id="ui-view" style="opacity: 1;"><div class="animated fadeIn">
  <div class="row">
  <div class="col-12">
  <div class="card">
  <div class="card-header">Company Registration Form
  </div>
  <div class="card-body">
    <div class="jumbotron bg-white">
    <h1 class="display-4">Company Registration</h1>
    <p class="lead">Make your company registration here</p>
    <hr class="my-4">
    {% if created %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          Parabéns, sua empresa foi criada!
      </div>
    {% else %}

            <div class="card">
                <div class="card-header">
                    Company Creation Form
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-industry"></i></span>
                                </div>
                                {{ form.social_name }}
                                {% if form.social_name.errors %}
                                    <ol>
                                    {% for error in form.social_name.errors %}
                                        <li><strong>{{ error|escape }}</strong></li>
                                    {% endfor %}
                                    </ol>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-industry"></i></span>
                                </div>
                                {{ form.name }}
                                {% if form.name.errors %}
                                    <ol>
                                    {% for error in form.name.errors %}
                                        <li><strong>{{ error|escape }}</strong></li>
                                    {% endfor %}
                                    </ol>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                </div>
                                {{ form.email }}
                                {% if form.email.errors %}
                                    <ol>
                                    {% for error in form.email.errors %}
                                        <li><strong>{{ error|escape }}</strong></li>
                                    {% endfor %}
                                    </ol>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                                </div>
                                {{ form.city }}
                                {% if form.city.errors %}
                                    <ol>
                                    {% for error in form.city.errors %}
                                        <li><strong>{{ error|escape }}</strong></li>
                                    {% endfor %}
                                    </ol>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                </div>
                                {{ form.found_date }}
                            </div>
                            {% if form.found_date.errors %}
                                    <ol>
                                    {% for error in form.found_date.errors %}
                                        <li><strong>{{ error|escape }}</strong></li>
                                    {% endfor %}
                                    </ol>
                                {% endif %}
                        </div>

                        <div class="">
                            <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Submit</button>
                            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
  </div>

  </div>
  </div>
  </div>
  </div>
</div>



{% endblock %}