{% extends 'core/base.html' %}
{% load staticfiles %}

{% block breadcrumb %}
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">Users</li>
        <li class="breadcrumb-item active">Friends</li>
{% endblock breadcrumb%}

{% block content %}

<div class="container-fluid">
    <div id="ui-view" style="opacity: 1;"><div class="animated fadeIn">
        <!--<div class="row">-->
            <!--<div class="col-12">-->
                <!--<h2 class="display-4">Friends</h2>-->
            <!--</div>-->
        <!--</div>-->

        <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="card-body">
                                    <div class="tab-pane p-3 active show">
                                      <div class="message">
                                        <div class="py-3 pb-5 mr-3 float-left">
                                          <div class="avatar">
                                            <img src="/static/core/img/avatar/blank_profile.png" class="img-avatar" alt="{{ friend.user.get_full_name }}">
                                            <span class="avatar-status badge-success"></span>
                                          </div>
                                        </div>
                                        <div>
                                          <small class="text-muted">{{ user.user.get_full_name }}</small>
                                            {% if user.user.last_login %}
                                          <small class="text-muted float-right mt-1">Last login: {{ user.user.last_login|date:"H:i" }} in {{ user.user.last_login|date:"d/m" }}</small>
                                            {% endif %}
                                        </div>
                                        <div class="text-truncate font-weight-bold">{{ user.company }}</div>
                                        {% if user.user.project_set %}
                                        <em class="text-muted">Projects that {{ user.user.first_name }} is working:</em>
                                        <small class="text-muted">
                                            {% for project in user.user.project_set.all %}
                                            {{ project }},
                                            {% endfor %}
                                        </small>
                                        {% else %}
                                        <em class="text-muted">{{ friend.user.first_name }} is working in no projects until now.</em>
                                        {% endif %}
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="card-body">
                                    <div class="tab-pane p-3 active show">
                                        <h5 class="">{{ user.user.first_name }}'s Friends:</h5>
                                        <div class="row">
                                        {% for friend in user.friends.all %}
                                        <div class="py-3 pb-5 mr-3 float-left ml-3" style="width: 20%">
                                            <p class="avatar">
                                                <img src="/static/core/img/avatar/blank_profile.png" class="img-avatar" alt="{{ friend.user.get_full_name }}">
                                                <span class="avatar-status badge-success"></span>
                                            </p>
                                            <p>{{ friend.user.first_name }}</p>
                                        </div>
                                        {% endfor%}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}