<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <!-- CSS -->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/coreui.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/coreui-standalone.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/estilo.css' %}">


</head>
<body class="sidebar-fixed">


{% block content %}
{% endblock %}


    <script src="{% static 'core/js/coreui.js'%}"></script>
    <script src="{% static 'core/js/coreui.bundle.js'%}"></script>

    <script src="{% static 'core/vendors/js/Chart.min.js'%}"></script>

    <script src="{% static 'core/js/ajax-load.js'%}"></script>
    <script src="{% static 'core/js/aside-menu.js'%}"></script>
    <script src="{% static 'core/js/index.js'%}"></script>
    <script src="{% static 'core/js/sidebar.js'%}"></script>
    <script src="{% static 'core/js/toggle-classes.js'%}"></script>
    <script src="{% static 'core/js/button.js'%}"></script>

    <script src="{% static 'core/vendors/js/jquery.min.js'%}"></script>
    <script src="{% static 'core/vendors/js/popper.min.js'%}"></script>
    <script src="{% static 'core/vendors/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'core/vendors/js/pace.min.js'%}"></script>

</body>
</html>


