.img-avatar-red {
	max-width: 40px;
}

.no-style {
	list-style-type: none;
}

.brand-gui {
	width: 50px;
	position: relative;
}


  .simple-box i {
    display: block;
    font-size: 40px;
    line-height: 90px;
    background: #c2cfd6; }
  .simple-box ul {
    padding: 10px 0;
    list-style: none; }
      .simple-box ul li strong {
        font-size: 20px; }
      .simple-box ul li span {
        font-weight: 500; }


.custom-file-input-gui {
	position: relative;
	z-index: 2;
	width: 100%;
	height: 300px;
	margin: 0;
	opacity: 0; }
	.custom-file-input:focus ~ .custom-file-control {
	border-color: #8ad4ee;
	box-shadow: 0 0 0 0.2rem rgba(32, 168, 216, 0.25); }
	.custom-file-input:focus ~ .custom-file-control::before {
	  border-color: #8ad4ee; }
	.custom-file-input:lang(en) ~ .custom-file-label::after {
	content: "Browse"; }